# Configuration file

general {
    # The chance that rocks will drop when a stone block is harvested.
    # 1.0 = 100% chance; 0.5 = 50% chance; 0 = Rocks will not drop.
    #  [range: 0.0 ~ 1.0, default: 1.0]
    S:"Drop Chance"=1.0

    # If TRUE, debugging information will be logged.
    #  [default: false]
    B:"Enable Debugging"=false

    # If FALSE, rocks will not drop from stone blocks.
    #  [default: true]
    B:"Enable Mod"=true

    # The maximum number of rocks that drop from a harvested stone block.
    #  [range: 1 ~ 64, default: 5]
    I:"Maximum Drops"=5

    # The minimum number of rocks that drop from a harvested stone block.
    #  [range: 1 ~ 64, default: 3]
    I:"Minimum Drops"=3

    # The maximum number of rocks that can go in one stack.
    #  [range: 1 ~ 64, default: 64]
    I:"Stack Size"=64

    # modid:blockid:blockmeta
    #  [default: [minecraft:stone:0], [minecraft:cobblestone:0]]
    S:"Stone Blocks" <
        minecraft:stone:0
        minecraft:cobblestone:0
     >
}


